@model Blog.Models.User

@{
    ViewData["Title"] = "Профиль";
}

@if (Model.Admin)
{
    <a asp-action="Admin">Админ</a>
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, @Model.Email</h1>
</div>

<form asp-action="ChangeEmail">
    <label>Введите Email</label>
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="text" name="email" />
    <input type="submit" value="Изменить" class="btn btn-outline-dark" />
    <span>Чтобы изменения вступили в силу, вам придется войти в аккаунт еще раз</span>
</form>

<form asp-action="ChangePassword">
    <label>Введите пароль</label>
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="password" name="password" />
    <input type="submit" value="Изменить" class="btn btn-outline-dark" />
</form>

<form asp-action="Post">
    <div>Создать новый пост</div>
    <input type="hidden" value="@Model.Id" name="userId" />
    <div>
        <textarea name="text"></textarea>
    </div>
    <div>
        <input type="submit" value="Опубликовать" class="btn btn-success" />
    </div>
</form>

<h2>Мои посты</h2>
<table>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td class="p-3 mb-2 bg-primary text-white">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
            <tr class="spacer" style="height: 16px"></tr>
        }
    </tbody>
</table>
